h1{
	color: rgb(2,132,130);
}
h2{
	color: #ffd700;
}
body{
	text-align:center;
}
nav{
	background:#808080;

}
nav a{
	background-color: #ffbf00;
	color:white;
	padding:35px;
	display: block;
	float:left;
}
nav a:hover{
	background: #ee5f3c;
}
footer{
	background-color: #808080;
}

.clearfix:after{
	visability:hidden;
	display:block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.board{
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card{
	height: 200px;
	width: 150px;
	border: 1px black solid;
	border-radius: 10px;
	background: rgb(255,255,0);
	float:left;
	margin: 8%;
}
.name{
	color: #ff0000;
	text-shadow: 1px;
	font-weight: bold;
}